# TODO: add versions
ai-safeguards
# google-genai
# google-generativeai

# langchain
# langchain[google-genai]
# langchain-chroma
# langchain-community
# langchain-docling
# langchain-text-splitters
# langchain-google-genai

# openai
pydantic
pymupdf
python-dotenv
streamlit